body {
  margin: 0;
  touch-action: none;
  overflow: hidden;
  display: grid;
  user-select: none;
}
canvas {
  width: 100%;
  height: auto;
  object-fit: contain;
}
body > * {
  grid-row: 1;
  grid-column: 1;
}
main {
  display: grid;
}
main > * {
  grid-row: 1;
  grid-column: 1;
}
.hero-text {
  position: fixed;
  align-self: center;
  justify-self: center;
  width: 18ch;
  font: bold 20px/1 system-ui;
  color: #b5b5b5;
  text-rendering: optimizeLegibility;
  font-size: 60px;
  line-height: 100%;
  margin: 0;
  color: #e3e3e3;
  visibility: visible !important;
  opacity: 1 !important;
  transition: all 1s ease-in-out;
}
.hide {
  display: none; /* Instead of fading out, it just hides */
}
.hero-text:not(.hide) {
  display: block;
}
.hero-text > h2 {
  font-size: 2em;
  opacity: 0;
  animation: fade-in 10s forwards 0s;
  margin: 0;
  line-height: 1.6;
}
.hero-text > p {
  opacity: 0;
  animation: fade-in 10s forwards 4s;
  margin: 0;
  line-height: 1.2;
}
.p {
  font-size: 30px;
  transition: all 1s ease-in-out;
}
@media screen and (max-width: 720px) {
  .hero-text {
    font-size: 30px;
  }
  .p {
    font-size: 15px;
  }
}
.hero-text > h2,
.hero-text > p,
.hero-text > p::before,
.hero-text > p::after {
  opacity: 1 !important;  /* Ensure text is always visible */
  animation: none !important; /* Disable any animations */
}
.hidden {
  visibility: hidden;
}